body {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.app-container {
  border-radius: 30px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid orange;
}

button {
  background-color: orange;
  color: #fff;
  border: none;
  border-radius: 30px;
  padding: 5px 10px;
  font-weight: 700;
  cursor: pointer;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.titulo {
  color: orange;
  font-size: 48px;
  font-weight: 700;
  background-color: white; /* Fundo branco para o título */
  padding: 2px;
  border-radius: 10px;
}

h2 {
  color: orange;
  background-color: white; /* Fundo branco para o título */ 
  font-size: 30px;
  font-weight: 700;
  padding: 2px;
  border-radius: 10px;
}

h3 {
  color: orange;
  background-color: white; /* Fundo branco para os títulos das seções */
  font-size: 20px;
  padding: 5px;
  border-radius: 5px;
}

h3 + ul {
  color: orange;
  background-color: white; /* Fundo branco para os títulos das seções */
  font-weight: 800;
  margin-top: 10px;
}

.columns {
  display: flex;
}

.column {
  flex: 1;
  padding: 10px;
  position: relative;
}

.column:not(:last-child)::after {
  content: '';
  border-right: 2px solid orange;
  height: 75%;
  position: absolute;
  top: 80px;
  right: 0;
}
